@model MailSenderApp.Models.Domains.Email

@{
    ViewBag.Title = "Email";
}

<link href="@Url.Content("~/Content/EmailTemplate.css")" rel="stylesheet" type="text/css" />

    <div class="container invoice-font">

        <div class="row mt-2 mb-3">
            <div class="col-12 header-font text-start fs-4">
                <div>@Model.EmailParams.SenderEmail</div></div>
                <hr class="hr hr-blurry" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-8">
                <div class="text-start fs-5"><strong>Od:</strong>@Model.EmailParams.SenderName</div>
                <div class="text-start fs-5"><strong>Do:</strong>@Model.RecipientAddress</div>
                <div class="text-start fs-5"><strong>DW:</strong>@Model.CcAddress</div>
                <div class="text-start fs-5"><strong>Data wysłania:</strong>@Model.SentDate.ToString("g")</div>
                <div class="text-start fs-5"><strong>Tytuł:</strong>@Model.Title</div>
            </div>
            <hr class="hr hr-blurry mt-4" />
        </div>

        <div class="row mt-2">
            <div class="col-8">
                <div class="text-start fs-5"><strong>Wiadomość:</strong></div>
                <div class="fs-5">@Model.Message</div>
            </div>
        </div>
   



